.rolecolors-vc.usernameSpeaking-RmltQx{
    font-weight: 600;
}

.rolecolors-mention{
    color: var(--color);
    background-color: var(--colorBg)
}

.rolecolors-mention:hover{
    color: #fff;
    background-color: var(--colorBgHover)
}

.rolecolors-mention-avatars{
    align-items: center;
    display: inline-flex;
    vertical-align: bottom;

    .wrapper-3t9DeA{
        margin-right: 2px;
        margin-left: 1px;
        width: 14px !important;
        height: 14px !important;
    }
}