.content-1Wq3SX{
    &.rolecolors-vc-text .username-3KYl0N{
        color: var(--color);

        &.usernameSpeaking-RmltQx {
            font-weight: 600;
        }
    }

    &.rolecolors-vc-ring .avatarSpeaking-2IGMRN{
        box-shadow: inset 0 0 0 2px var(--color),inset 0 0 0 3px var(--background-secondary);
    }
}


:root .mention.rolecolors-mention{
    color: var(--color);
    background-color: var(--colorBg);

    &:hover{
        color: var(--colorHover);
        background-color: var(--colorBgHover)
    }
}

.rolecolors-mention-avatars{
    align-items: center;
    display: inline-flex;
    vertical-align: bottom;

    .wrapper-3t9DeA{
        margin-right: 2px;
        margin-left: 1px;
        width: 14px !important;
        height: 14px !important;
    }
}

.rolecolor-membergroup-inner{
    display: flex;
    flex-direction: row;
    align-items:flex-end;

    .rolecolor-membergroup-length{
        margin-left: auto;
        font-size: 18px;
    }
}

.rolecolor-userpopout-text{
    .headerName-fajvi9, .headerTagUsernameNoNickname-2_H881{
        color: unset;

        & + span {
            opacity: .7;
        }
    }
}

:root .rolecolor-userpopout-header{
    background-color: var(--bgColor);

    &.rolecolor-userpopout-adaptive-text{
        .customStatus-1bh2V9,.headerTag-2pZJzA,.headerName-fajvi9,.headerTagUsernameNoNickname-2_H881,.headerText-1HLrL7,.content-3JfFJh,.activityName-1IaRLn,.nameNormal-2lqVQK,.details-38sfDr,.text-AOoUen{
            color: var(--apropriatedColor);
        }

        .barInner-3NDaY_{
            background-color: var(--apropriatedColor);
        }

        .colorWhite-rEQuAQ{
            color: var(--apropriatedColor);
            border-color: var(--apropriatedColor);
        }

        .wrapper-3t9DeA .pointerEvents-2zdfdO{
            fill: var(--apropriatedColor);
        }
    }
}

[vz-plugin="Rolecolors"] {
    .vz-c-settings-category{
        margin-bottom: 10px;
    }
}

.rolecolor-onoff{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 10px;
    border-radius: 50%;

    transition: background .25s;

    &[enabled="true"]{
        background: #43b581;
    }
    &[enabled="false"]{
        background: #f04747;
    }
}